In [1]:
import pandas as pd
import numpy as np

### From a DataFrame with a datetime column filter the first or last rows in an interval

In [2]:
rng = pd.date_range('2018-01-01', periods=720, freq='30min')
rng[:5]

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 00:30:00',
               '2018-01-01 01:00:00', '2018-01-01 01:30:00',
               '2018-01-01 02:00:00'],
              dtype='datetime64[ns]', freq='30T')

### column a has a constant integer value

In [3]:
df = pd.DataFrame(3, index=rng, columns=['a'])
df.head()

                     a
2018-01-01 00:00:00  3
2018-01-01 00:30:00  3
2018-01-01 01:00:00  3
2018-01-01 01:30:00  3
2018-01-01 02:00:00  3

### only use the firts record of chunks of 3 hours

with numerics you can use mean(), max(), min() etc

In [4]:
df.resample('3H').mean().head()

                     a
2018-01-01 00:00:00  3
2018-01-01 03:00:00  3
2018-01-01 06:00:00  3
2018-01-01 09:00:00  3
2018-01-01 12:00:00  3

In [10]:
df = pd.DataFrame(np.random.choice(['A', 'B'], len(rng)), index=rng, columns=['a'])
df.head()

                     a
2018-01-01 00:00:00  B
2018-01-01 00:30:00  B
2018-01-01 01:00:00  B
2018-01-01 01:30:00  A
2018-01-01 02:00:00  A

### with strings use pad(), this does not do anything with the string value

In [11]:
df.resample('2H').pad().head()

                     a
2018-01-01 00:00:00  B
2018-01-01 02:00:00  A
2018-01-01 04:00:00  A
2018-01-01 06:00:00  B
2018-01-01 08:00:00  B

### mulitple columns still okay

In [7]:
df = pd.DataFrame(np.random.choice(['A', 'B', 'C'], size=(len(rng), 2)), index=rng, columns=['a', 'b']) 
df.head()

                     a  b
2018-01-01 00:00:00  B  B
2018-01-01 00:30:00  A  C
2018-01-01 01:00:00  A  B
2018-01-01 01:30:00  C  A
2018-01-01 02:00:00  C  B

In [8]:
df.resample('2H').pad().head()

                     a  b
2018-01-01 00:00:00  B  B
2018-01-01 02:00:00  C  B
2018-01-01 04:00:00  C  B
2018-01-01 06:00:00  C  A
2018-01-01 08:00:00  C  C